<ion-view hide-nav-bar="true" class="bg-material">
    <ion-content class="padding center">

        <div class="card padding">
            <div class="list list-inset">
                <div class="item item-text-wrap">
                    <h1 class="title col col-center text-center">Sincronizando Dados </h1>
                    <h3 class="text-center">Aguarde, validando...</h3>
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>