<form name="formAtuacao">
    <ion-view>
        <div class="bar bar-header bar-positive no-border-bottom">
            <button class="button button-clear button-icon ion-android-arrow-back" ng-click="returnPerfil()"> {{entrevistado.ID}}</button>
            <div class="title">Atuações</div>
            <button class="button button-clear pull-right"></button>
        </div>
        <ion-content class="has-footer" style="margin-top: 45px;">
                <div class="list">
                    <label class="item item-radio" ng-repeat="atuacao in atuacoes">
                        <!--{{opcao}}-->
                        <input type="radio" name="atuacao" value="{{atuacao.id}}" ng-model="area_atuacao.atuacao_id" ng-click="setAtuacao(atua)">
                        <div class="item-content" >
                            {{atuacao.atuacao}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                        <!--<ion-radio ng-model="resposta.opcao_id" ng-value="{{opcao.id}}">{{opcao.opcao}}</ion-radio>-->
                    </label>
                </div>
        </ion-content>
        <div class="bar bar-footer" style="height: 65px;">
            <div class="row">
                <button class="button button-block button-positive" ng-disabled="invalid" ng-click="saveAtuacao()" style="margin-left: 40px;margin-right: 10px;">
                    Iniciar entrevista
                </button>
            </div>
        </div>
    </ion-view>
</form>
