<form name="form">
<ion-view>
    <div class="bar bar-header bar-positive no-border-bottom">
        <button class="button button-clear button-icon ion-android-arrow-back" ng-click="returnPerfil()"> {{entrevistado.ID}}</button>
        <div class="title"></div>
        <button class="button button-clear pull-right" ui-sref="entrevista-comentarios-form"><i class="fa fa-plus-circle fa-2x"></i></button>

    </div>

    <div class="bar bar-subheader bar-positive no-border-top ">
         <div class="title">   Histórico   </div>
    </div>

      <ion-content class="has-subheader has-footer" style="margin-top: 20px;">
              <div class="list card" ng-repeat="hist in historico">
                  <div class="item" ng-class="{'item-avatar':hist.avatar != null}">
                      <img src="{{hist.avatar}}" ng-if="hist.avatar != null">
                      <h2 ng-if="hist.nome != null">{{hist.nome}}</h2>
                      <h2 ng-if="hist.nome == null"><i class="fa fa-user fa-2x"  ng-if="hist.avatar == null"></i>
                          SISTEMA</h2>
                      <p>{{hist.dt_criacao | amDateFormat:'DD/MM/YYYY H:mm'}}</p>
                  </div>

                  <div class="item item-body">
                      <p>
                         {{hist.comentario}}
                      </p>

                  </div>

              </div>
     </ion-content>

</ion-view>
</form>