<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title title-left"><i class="ion fa fa-map-o"></i> {{pergunta.pergunta}}</h1>
    </ion-header-bar>

    <ion-content class="padding has-header">

        <div class="list list-inset">
            <div class="list">

                <a class="item" >
                    {{opcao.opcao}}
                </a>

                <div class="item item-divider">
                    <label class="item item-input">
                        <input type="text" placeholder="Resposta" ng-model="resposta.resposta" required>
                    </label>
                </div>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar style="height: 55px;">
        <div class="row">
            <a class="button  button-stable col larger" ng-click="closeModal()"  style="margin-left: 25px;margin-right: 10px;">Cancelar</a>
            <a class="button  button-balanced col larger" style="margin-left: 5px;" ng-click="saveModal($index,p)" ng-disabled="resposta.resposta == ''" > Save </a>
        </div>
    </ion-footer-bar>

</ion-modal-view>