<ion-view hide-nav-bar="true">
    <ion-content >
        <div class="list" style="margin-bottom: 0px;" >
            <div style="background-image: url('img/bg.jpg');background-repeat: no-repeat;background-position: bottom;padding: 0px;">
                <div class="item no-border-bottom" style="background-color: transparent;">
                    <button class="button button-clear button-dark icon-left ion-android-arrow-back text-white font-bold" ng-click="back()"> {{entrevistado.ID}}</button>
                </div>
                <div class="item text-center no-border-top" style="background-color: transparent;">
                    <div class="h4 text-white">{{entrevistado.RAZAOSOCIAL}}</div>
                </div>
            </div>
        </div>
        <div class="list">
            <a class="item"   ui-sref="entrevista-atuacoes" ng-if="entrevistado.atuacao_tipo == 'M'">
                <i class="fa fa-plus" ></i>
                <span> Nova Entrevista</span>
            </a>
            <div ng-repeat="atuacao in entrevistado.atuacao">
                <a class="item"   ng-click="goEntrevista(atuacao)" ng-if="atuacao.sync == null || (atuacao.termino == null)" >
                    <i class="fa fa-edit" ></i>
                    <span ng-if="atuacao.inicio == null && atuacao.termino == null">{{atuacao.atuacao}} - Iniciar Entrevista</span>
                    <span ng-if="atuacao.inicio != null && atuacao.termino == null">{{atuacao.atuacao}} -  Continuar Entrevista</span>
                    <span ng-if="atuacao.inicio != null && atuacao.termino != null && atuacao.sync ==  null">{{atuacao.atuacao}} - Editar Entrevista</span>
                </a>
                <div class="item" ng-if="atuacao.inicio != null && atuacao.termino != null && atuacao.sync !=  null">
                    <i class="zmdi zmdi-check-all zmdi-hc-lg" ></i>
                    <span>{{atuacao.atuacao}} - Entrevista sincronizada</span>
                </div>
            </div>
            <a class="item" ui-sref="entrevista-comentarios">
                <i class="fa fa-comments"></i> Comentários
            </a>
        </div>
        </div>
    </ion-content>
</ion-view>
