<form name="form">
<ion-view>
    <div class="bar bar-header bar-positive no-border-bottom">
        <button class="button button-clear button-icon ion-android-arrow-back" ng-click="returnPerfil()"></button>
        <div class="title">&nbsp;</div>
    </div>
    <div class="bar bar-subheader bar-positive no-border-top ">
            <button class="button button-clear button-icon-left ion-ios-list-outline" style="float: left;"> {{nome_bloco}}</button>
            <button class="button button-clear text-right" style="float: right;">{{progressBloco}} / {{totalBlocos}}</button><br>
            <div class="progress clearfix" style="clear: both;margin-top: 25px; margin-bottom: 35px;">
                <progressbar value="progressBar">{{progress}} / {{totalPerguntas}}</progressbar></div>
            </div>
    </div>

    <ion-content class="has-subheader has-footer" style="margin-top: 20px;">

        <div class="card">
            <div class="item item-divider item-text-wrap">
                <div href="#" class="">
                    <div class="row">
                        <div class="col">
                          <h4>{{progress}}.  {{pergunta.pergunta}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list list-inset" ng-if="pergunta.tipo == 'T'">
            <label class="item item-input">
                <input type="text" placeholder="Resposta" ng-model="resposta.resposta" required>
            </label>
        </div>
        <div class="list list-inset" ng-if="pergunta.tipo == 'N'">
            <label class="item item-input">
                <input type="number" placeholder="Resposta" ng-model="resposta.resposta" required>
            </label>
        </div>

        <div class="card" ng-if="pergunta.tipo == 'R'">

            <div class="list">
                <label class="item item-radio" ng-repeat="opcao in pergunta.opcoes" >
                    <!--{{opcao}}-->
                    <div ng-if="opcao.texto != '1'" style="margin-top: -13px; margin-bottom: -10px; font-size: 13px !important;" >
                        <input type="radio" name="resposta" value="{{opcao.id}}" ng-model="resposta.opcao_id" required>
                        <div class="item-content item-text-wrap" >
                            {{opcao.opcao}}
                        </div>
                        <i class="radio-icon ion-checkmark" style="margin-top: -14px"></i>
                    </div>
                    <div ng-click="openModal(pergunta, opcao)" ng-if="opcao.texto != '0'" style="margin-top: -13px; margin-bottom: -10px; font-size: 13px !important;" >
                        <input type="radio" name="resposta" value="{{opcao.id}}" ng-model="resposta.opcao_id" required>
                        <div class="item-content item-text-wrap" >
                            {{opcao.opcao}}
                            <span ng-if="opcao.id == resposta.opcao_id" >Res:  {{resposta.resposta}}</span>
                        </div>
                        <input type="input" ng-if="opcao.id == resposta.opcao_id" ng-model="resposta.resposta" required>
                        <i class="radio-icon ion-checkmark" style="margin-top: -14px"></i>
                    </div>

                    <!--<ion-radio ng-model="resposta.opcao_id" ng-value="{{opcao.id}}">{{opcao.opcao}}</ion-radio>-->
                </label>
                <label ng-show="nunca == true"></label>
            </div>
        </div>
        <div class="card" ng-if="pergunta.tipo == 'C'">
            <div class="list">
                <label class="item item-radio item-text-wrap" ng-repeat="opcao in pergunta.opcoes" >
                    <div ng-if="opcao.texto != '1'" style="margin-top: -16px; margin-bottom: -12px; font-size: 5px !important;">
                        <ion-checkbox ng-model="opcao.checked" style="font-size: 12px !important;" ng-required="check" ng-disabled="checkFalse && (($index != 10 && perguntaId == 23) || ($index != 5 && perguntaId == 51)  || ($index != 3 && perguntaId == 31))" ng-click="verificaCheck($index, opcao.checked)">
                            {{opcao.opcao}}                            &nbsp;
                            <span ng-if="opcao.checked && opcao.prioridade != 5 && pergunta.prioridade == 1">({{opcao.prioridade}})</span>
                            <span ng-if="opcao.checked && opcao.prioridade == 5 && pergunta.prioridade == 1" style="color:red">({{opcao.prioridade}})</span>
                        </ion-checkbox>
                        <i class="radio-icon ion-checkmark" style="font-size: 2px !important;"></i>
                    </div>

                    <div ng-if="opcao.texto != '0'" style="margin-top: -16px; margin-bottom: -10px; font-size: 13px !important;">
                        <ion-checkbox ng-model="opcao.checked" style="font-size: 12px !important;" ng-disabled="checkFalse && (($index != 10 && perguntaId == 23) || ($index != 5 && perguntaId == 51) || ($index != 3 && perguntaId == 31))" ng-required="check"  ng-click="openModalCheck(pergunta, opcao, $index,opcao.checked)">{{opcao.opcao}}
                            <span ng-if="opcao.checked == true" >Res:  {{opcao.resposta}}</span>
                            &nbsp;
                            <span ng-if="opcao.checked && opcao.prioridade != 5 && pergunta.prioridade == 1"  > ({{opcao.prioridade}})</span>
                            <span ng-if="opcao.checked && opcao.prioridade == 5 && pergunta.prioridade == 1" style="color:red;" >({{opcao.prioridade}})</span>
                        </ion-checkbox>
                        <input type="input" ng-if="opcao.checked == true" ng-model="opcao.resposta" required>
                        <i class="radio-icon ion-checkmark" style="font-size: 2px !important;"></i>
                    </div>
                </label>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer" style="height: 65px;">
        <div class="row">
            <a class="button  button-stable col" ng-click="returnPergunta()" ng-disabled="disabledVoltar == '1'" style="margin-left: 25px;margin-right: 10px;">VOLTAR</a>
            <a class="button  button-energized col" style="margin-left: 5px;" ng-click="save()" ng-disabled="form.$invalid && endereco == false" ng-if="ultimaPergunta == '0'"> AVANÇAR </a>
            <a class="button  button-balanced col" style="margin-left: 5px;" ng-click="save()" ng-disabled="form.$invalid" ng-if="ultimaPergunta == '1'"> FINALIZAR  </a>
        </div>
    </div>
</ion-view>
</form>