
<form name="form">
    <ion-view>
        <div class="bar bar-header bar-positive no-border-bottom">
            <button class="button button-clear button-icon ion-android-arrow-back" ng-click="returnPerfil()"></button>
            <div class="title">Blocos de perguntas</div>
        </div>
        <ion-content class="has-footer" style="margin-top: 45px;">
            <div class="list card" style="cursor: hand" ng-repeat="bloco in blocos" >
                <a class="item item-icon-right" ng-click="goListPergunta(bloco)">
                    {{bloco.bloco}}
                    <i class="icon ion-android-arrow-forward"></i>
                </a>
            </div>
        </ion-content>
    </ion-view>
</form>