<form name="form">
<ion-view>
    <div class="bar bar-header bar-positive no-border-bottom">
        <button class="button button-clear button-icon ion-android-arrow-back" ui-sref="entrevista-comentarios">{{entrevistado.ID}}</button>
        <div class="title"></div>
    </div>
    <div class="bar bar-subheader bar-positive no-border-top ">
        <div class="title">  Novo Comentário  </div>
    </div>
      <ion-content class="has-subheader has-footer" >
              <div class="list card" style="cursor: hand" >
                  <div class="list">
                      <label class="item item-input">
                          <textarea placeholder="Comentário" rows="10" ng-model="data.comentario"></textarea>
                      </label>
                  </div>
              </div>

     </ion-content>
    <div class="bar bar-footer" style="height: 65px;">
        <div class="row">
            <button class="button button-block button-positive" ng-click="save()" style="margin-left: 40px;margin-right: 10px;">
                Salvar
            </button>
        </div>
    </div>
</ion-view>
</form>