<form name="form">
    <ion-view>
        <div class="bar bar-header bar-positive no-border-bottom">
            <button class="button button-clear button-icon ion-android-arrow-back" ng-click="returnBlocos()"></button>
            <div class="title">Perguntas do Questionário</div>
        </div>
        <ion-content class="has-footer" style="margin-top: 45px;">
            <div class="list card" style="cursor: hand" ng-repeat="pergunta in perguntas" >
                <a class="item item-icon-right" ng-click="goEditPergunta(pergunta)">
                    {{pergunta.pergunta}}
                    <i class="icon ion-android-arrow-forward"></i>
                </a>
            </div>
        </ion-content>
    </ion-view>
</form>