<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive no-border-bottom">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="right">

                <button class="button button-icon button-clear  pull-rigth" ng-click="newEntrevista()">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>


        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content>
            <ion-list>
                <div style="background-image: url('img/bg.jpg');background-repeat: no-repeat;
                             -moz-background-size: 100% 100%;
                             -webkit-background-size: 100% 100%;
                              background-size: 100% 100%; height: 165px; margin-top: -25px;" class="no-border-bottom no-border-top">
                    <center> <img src="img/bg.jpg" class="thumb-md img-circle" style="background-color: white; margin-top: 45px;width: 65px;height: 65px;">
                        <h4 class="h5" style="color:white; margin-top: 5px;">{{usuario.nome}}</h4>
                        <h4 class="h5" style="color:white; margin-bottom: 4px; margin-top: -5px;">Mk Pesquisa / Pesquisa do Exército</h4></center>
                </div>
                <ion-item menu-close ui-sref="dashboard.resumo">
                   <i class="fa fa-dashboard"></i> Resumo de Entrevistas
                </ion-item>
                <ion-item menu-close ui-sref="dashboard.realizadas">
                    <i class="fa fa-check-square-o"></i> Entrevistas Realizadas
                </ion-item>

                <ion-item menu-close ng-click="sync()">
                    <i class="fa fa-refresh"></i> Sincronização
                </ion-item>

                <ion-item menu-close ng-click="logout()">
                   <i class="fa fa-sign-out"></i> Sair
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
