<ion-view title="Entrevistas Registradas">
    <div class="bar bar-subheader bar-positive no-border-top item-input-inset">
        <label class="item-input-wrapper input-white" >
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Pesquisar..."  ng-model="pesquisa">
        </label>
        <button class="button button-energized" ng-click="search()">
            Pesquisar
        </button>
    </div>
    <ion-content class="has-subheader has-header">

        <div class="card" ng-if="entrevistas.length == 0" style="margin-top: 100px;">
            <div class="item item-divider">
                <h2><i class="fa fa-exclamation-triangle fa-2x"></i>&nbsp; Nenhuma entrevista realizada encontrado</h2>
            </div>
        </div>

        <div ng-if="entrevistas.length != 0">
            <div class="list card"   ng-repeat="entrevista in entrevistas">
                <div class="item">

                    <div class="col-md-12">
                        <p class="padding">{{entrevista.respostas[0].resposta}}
                            <a class="tab-item pull-right" ng-if="entrevista.sync == null" ng-click="edit(entrevista)">
                                 <i  class="fa fa-edit fa-2x" ></i>
                            </a></p>
                    </div>

                    <div class="item">
                        <h4 class="padding"style="margin-top: -15px; margin-bottom: -17px;">
                            {{entrevista.inicio | amDateFormat:'DD/MM/YYYY  H:mm'}}
                            <i class="zmdi zmdi-check-all zmdi-hc-lg pull-right" ng-show="entrevista.sync != null"></i>
                            <i class="zmdi zmdi-check zmdi-hc-lg pull-right"     ng-show="entrevista.sync == null"></i>
                        </h4>
                    </div>
                </div>
                </div>

        </div>
    </ion-content>
</ion-view>
