<ion-view  title="Resumo de Entrevistas">


    <ion-content class="has-header" style="background-color: #f0f0f5;">

        <div class="row">
                <h4 style="margin-left: 30px;" class=" item-text-wrap">
                   <i class="fa fa-pie-chart"></i> Cotas
                </h4>
        </div>


        <div class="card" ng-if="cotas.length == 0" style="margin-top: 100px;">
            <div class="item item-divider">
                <h2><i class="fa fa-exclamation-triangle fa-2x"></i>&nbsp; Nenhuma cota encontrada</h2>
            </div>
        </div>

        <div class="list card" ng-repeat="cota in cotas" ng-if="cotas.length != 0">
            <div class="item item-divider">
            {{cota.nome}}
            </div>
            <a href="#" class="item  item-text-wrap" ng-repeat="faixa in cota.faixas">
                {{faixa.faixa}}<span class="pull-right">{{faixa.entrevistas}} / {{faixa.frequencia.value}}</span>
                <progressbar  ng-show="faixa.entrevistas != faixa.frequencia.value" value="(faixa.entrevistas*100)/faixa.frequencia.value">{{faixa.entrevistas}} / {{faixa.frequencia.value}}</progressbar>
                <progressbar type="danger" ng-show="faixa.entrevistas != 0 && faixa.entrevistas == faixa.frequencia.value" value="(faixa.entrevistas*100)/faixa.frequencia.value">{{faixa.entrevistas}} / {{faixa.frequencia.value}}</progressbar>
            </a>
        </div>

    </ion-content>
</ion-view>
