<ion-view class="bg-splash">
    <ion-content class="center" scrollbar-y="false">
        <div class="list card login-panel">

            <div class="item item-body">
                <div class="text-center" style="margin-top: 10px;">
                    <div style="margin-top: 10px;" class="h3"> BAIXANDO DADOS...</div>
                    <div style="margin-top: 20px;">
                        <i class="fa fa-cloud-download fs-96"></i>
                    </div>
                </div>
                <div class="list text-center" style="margin-top: 10px;padding-top: 5px;">
                    <!--<ion-spinner icon="android"></ion-spinner>-->
                    <i class="md-rotate-right md-spin md-2x"></i>
                    <div>{{inserts}} de {{total}}</div>
                </div>
            </div>

        </div>
        <div class="text-center login-info">
            &reg; Mk Pesquisa
        </div>

    </ion-content>
</ion-view>