<form name="formLogin">
<ion-view view-title="Exército" hide-nav-bar="true" class="bg-material">
    <ion-content class="padding">

        <h1 class="title col col-center text-white text-center">Pesquisa Exército - Login</h1>

        <div class="card padding">
            <div class="list list-inset">

            <div class="item item-text-wrap">

                    <label class="item item-input">
                        <input type="number" placeholder="Codigo de acesso" ng-model="usuario.codigo" required>
                    </label>

                    <label class="item item-input">
                        <input type="password" placeholder="Senha" ng-model="usuario.senha" required>
                    </label>

                    <button class="button button-block button-positive" ng-click="logar(usuario)" ng-disabled="formLogin.$invalid">
                       Acessar
                    </button>
                </div>
                </div>
            </div>
    </ion-content>
</ion-view>
</form>